
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #141414;
  height: auto;
  width: 100vw;
  color: #b2b4c4;
  overflow: inherit;
  margin-bottom: 10px;
}

.about h1 {
  display: inline;
  text-align: center;
  width: 50%;
}

.about h1 p {
  display: inline;
}

.about h2 {
  padding-top: 50px;
  text-align: center;
  width: 70%;
}

.about h3 {
  padding-top: 20px;
  text-align: center;
  width: 50%;
}
#about-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px){
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #141414;
  height: 100vh;
  width: 100vw;
  color: #b2b4c4;
  justify-content: flex-start;
  margin-bottom: 10px;
  overflow: scroll;
}}