@media screen and (min-width: 769px){
.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.home h1{
  padding-top: 10%;
  padding-left: 20%;
}
#poza-muna-principal{
    position:relative;
     top: 100%;
     left: 100%;
     transform: translate(-100%, -100%);
     display: flex;
     flex-direction: row;
     justify-content: end;
     overflow: hidden;
}
#poza-muna {
  overflow: hidden;
  height: 500px;
  width: auto;
  position: relative;
  top: 150px;
  left: 100px;
  animation: rotatepoza 20s infinite linear;
}
@keyframes rotatepoza {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home h1{
  color: #B2B4C4;
}
}
@media (min-width: 481px) and (max-width: 768px) {
  .home {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .home h1{
    padding-top: 10%;
    padding-left: 20%;
  }
  
  #poza-muna-principal{
    overflow: hidden;
    position: relative; 
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
  }
  
  #poza-muna {
    height: 500px;
    width: auto;
    position: relative;
    top: 150px;
    left: 100px;
    animation: rotatepoza 20s infinite linear;
  }
  
  @keyframes rotatepoza {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .home h1{
    color: #B2B4C4;
}
}

@media screen and (max-width: 480px) {
  .home {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .home h1{
    padding-left: 10%;
    padding-top: 25%;
  }
  #poza-muna-principal{
    position: relative; 
    top: -15%;
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
  }
  
  #poza-muna {
    height: 500px;
    width: auto;
    position: relative;
    top: 200px;
    left: 250px;
    animation: rotatepoza 20s infinite linear;
  }
  
  @keyframes rotatepoza {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .home h1{
    color: #B2B4C4;
}
}