.footer {
  background-color: #141414;
  position: sticky;
}

#opc a img {
  width: auto;
  height: 3rem;
}

#footer-line {
  background-color: #b2b4c4;
  height: 1px;
}

#footer-setup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #b2b4c4;
}
.footer tbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}

@media screen and (max-width: 480px){
  #footer-setup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #b2b4c4;
  }
  .company{
    font-size: 1rem;
  }
  .company table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer tbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#muna-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  
}
